<h1>Job Application</h1>

  
<p>Please enter your email address to receive the contanct information for this offer.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>

  <%= f.label :applicant_email %>
  <%= f.text_field :applicant_email %>

<p>Please enter a link to your cv for the offerer.</p>
  <%= f.label :cv_link, :caption => "CV Link" %>
  <%= f.url_field :cv_link, :style => "width:500px;" %>

  <hr/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>

