<h1>Applications for <%= @job_offer.title%></h1>
<table class="table table-bordered">
	<tr>
		<th>E-Mail</th>
		<th>CV Link</th>
	</tr>
	<% @job_applications.each do | app | %>
	<tr>
		<td>
			<%= app.applicant_email %>
		</td>
		<td>
			<%= link_to app.cv_link, "#{app.cv_link}", target: :_blank %>
		</td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back', url_for(:job_offers, :my), :class => "btn btn-primary" %>